li.breadcrumb-item a{
  color: #757575;
}

.box {
  display: block;
  height: 250px;
  width: 250px;
  margin: 0px 10px 0px 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  overflow: hidden;
}


.box-settings {
display: block;
height: 270px;
width: 250px;
margin: 0px 10px 0px 10px;
background-color: white;
border-radius: 5px;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
overflow: hidden;
}

.upload-options {
  position: relative;
  height: 50px;
  padding: 14px;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
}

.upload-options-settings {
  position: relative;
  height: 60px;
  padding: 14px;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
}

.wrapper-image-preview {
  margin-left: -6px;
}


.back-preview-image {
  height: 200px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #F5F5F5 !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.image-upload {
    visibility: hidden;
}
.img-upload-label {
    cursor: pointer;
}
.gocover {
  display:none;
  position: absolute;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
}
.btn-rounded {
border-radius: 50px;
}
.actions-btn a {
margin-right: 5px;
}
.small-font {
font-size: 12px;
}
.alert a{
color: #fafafa!important;
}

#remember {
line-height: 1.5rem;
}
.back-preview-image.color-white {
  background-color: #ffffff !important;
}
.frm-btn{
  width: auto;
  border: none;
  display: block;
  padding: 0;
}

.geniusform-tab .nav {
  background-color: #e3eaef;

}

.geniusform-tab .nav .nav-item a.nav-link.active {
  color: #fff
}

.geniusform-tab .nav .nav-item a {
  color: #6c757d;
}
.geniusform-tab .left-area {
  text-align: right; }
  .geniusform-tab .left-area .heading {
    font-size: 14px;
    color: #5a5c69;
    font-weight: 600;
    margin-bottom: 0px;
  }
  .geniusform-tab .sub-heading {
    font-size: 12px;
    color: #5a5c69;
    display: inline-block;
    margin-left: 4px;
    margin-bottom: 0px;
  }
  .input-field {
    width: 100%;
    padding: 0px 20px 0px;
    border-radius: 0px;
    color: #5a6f84;
    height: 35px !important;
    font-size: 14px;
    margin-bottom: 15px;
    border-radius: 4px;
    background: #fff!important;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
  textarea.input-field {
    height: 120px!important;
    padding: 15px 20px!important;
    resize: none;
  }
  .input-field::-webkit-input-placeholder {
    /* WebKit browsers */
    color: rgba(13, 51, 89, 0.6);
  }
  
  .input-field:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgba(13, 51, 89, 0.6);
  }
  
  .input-field::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgba(13, 51, 89, 0.6);
  }
  
  .input-field:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: rgba(13, 51, 89, 0.6);
  }
  
  .input-field:focus {
    border-color: #5a6f84 !important;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2) !important;
    outline: -webkit-focus-ring-color auto 0px;
    outline-offset: 0px;
}
  
  
  
  .input-field.error {
    border: 1px solid #1f224f;
  }
  
  .input-field.error::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #1f224f;
  }
  
  .input-field.error:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #1f224f;
  }
  
  .input-field.error::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #1f224f;
  }
  
  .input-field.error:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #1f224f;
  }
  
  .input-field.error:focus {
    border-color: #1f224f;
  }

  .tagify tag x {
    color: #fff;
}
.tagify tag > div {
    background: #6777ef;
    color: #fff;
}
.tagify tag x:hover {
    color: #fff;
    background: unset;
}

td img {max-height: 200px;max-width: 200px;}

.dropdown-item.options {
  color: #858796;
}
.light-background {
  background-color: #e3eaef!important;
}
.secondary-text {
  color: #6c757d!important;
}
.thinner-card-body {
  padding: 1.0rem;
}
.font-weight-light {
  font-weight: 300!important;
}

div#curriculam {
  background-color: white;
}

#curriculam h5.card-title{
  min-height: 45px;
}

#curriculam h1,#curriculam h2,#curriculam h3,#curriculam h4,#curriculam h5,#curriculam h6 {
  margin: 10px 0;
  font-weight: 700;
  font-size: .9375rem;
}

.card .card-widgets {
  float: right;
  height: 16px;
}

.card .card-widgets>a {
  color: inherit;
  font-size: 18px;
  display: inline-block;
  line-height: 1;
}

.card .card-widgets > a .fas {
  font-size: 14px;
  font-weight: 600 !important;
}

.bg-dragula {
  background-color: #e3eaef;
}

#parent-div h5{
  font-size: .9375rem !important;
  font-weight: 600;
 }

 .draggable-item{
   cursor: move;
 }

 .custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(2.2125rem + 2px);
  padding: .45rem .9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
}

.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: 2.2125rem;
  padding: .45rem .9rem;
  line-height: 1.5;
  color: #6c757d !important;
  content: "Browse";
  background-color: #e9ecef !important;
  border-left: inherit;
  border-color: #e9ecef !important;
}

.submit-loader {
  background: rgb(114 114 114 / 50%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}

.submit-loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#quizQuestion h5.card-title{
  min-height: 45px;
}

#quizQuestion h1,#quizQuestion h2,#quizQuestion h3,#quizQuestion h4,#quizQuestion h5,#quizQuestion h6 {
  margin: 10px 0;
  font-weight: 700;
  font-size: .9375rem;
}

#quizQuestionAdd .input-group-append span {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #fff;
  background-color: #ffffff;
  border-color: #d1d3e2;
}

#quizQuestionAdd .input-group-text,#quizQuestionEdit .input-group-text {
  border-radius: unset !important;
}

.box.full-width {
  height: auto;
  width: 98%;
}
.img-upload-label.full-width {
  display: block;
}

table#geniustable tbody td {vertical-align: middle;}
.b-0 {
  border: none !important;
}

.success {
  padding: 30px 0px 70px;
  background: white;
}

.success .product-invoice main header {
  display: block;
  text-align: right;
  margin-bottom: 15px;
}
.success .product-invoice main header .mybtn1 {
  font-size: 14px;
  padding: 7px 15px;
}
.success .product-invoice main .inner-container {
  max-width: 100%;
}
.success .product-invoice main table.invoice {
  background: #fff;
}
.success .product-invoice main table.invoice tr,
.success .product-invoice main table.invoice td {
  background: #fff;
  text-align: left;
  font-weight: 400;
  color: #322d28;
}
.success .product-invoice main table.invoice tr.header td {
  background: #fcfbff;
}
.success .product-invoice main table.invoice tr.header td img {
  max-width: 200px;
}
.success .product-invoice main table.invoice tr.header td h2 {
  text-align: right;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 0px;
}
.success .product-invoice main table.invoice tr.intro td:nth-child(2) {
  text-align: right;
}
.success .product-invoice main table.invoice tr.intro td {
  font-size: 14px;
  line-height: 25px;
  padding: 20px 10px;
}
.success .product-invoice main table.invoice tr.intro strong {
  margin-right: 3px;
}
.success .product-invoice main table.invoice tr.details > td {
  padding: 0px;
  margin: 0px;
}
.success .product-invoice main table.invoice tr.details .table {
  margin-bottom: 0px;
}
.success .product-invoice main table.invoice tr.details .table tr th {
  font-size: 14px;
  font-weight: 700;
  border-top: 1px;
  border-bottom: 1px;
  background: #fcfbff;
}
.success .product-invoice main table.invoice tr.details .table tr td {
  font-size: 14px;
  border-bottom: 1px solid #dee2e6;
}
.success .product-invoice main table.invoice tr.details td:last-child,
.success .product-invoice main table.invoice tr.details th:last-child {
  text-align: right;
}
.success .product-invoice main table.invoice tr.totals td {
  padding: 0;
  border-top: 0px;
}
.success .product-invoice main table.invoice tr.totals table {
  padding: 0px;
  margin: 0px;
}
.success .product-invoice main table.invoice tr.totals table tr td {
  padding: 0;
  padding-bottom: 0;
  border-top: 1px solid #dee2e6;
  font-size: 14px;
  line-height: 36px;
}
.success .product-invoice main table.invoice tr.totals table tr td.label {
  font-weight: 600;
  color: #242424;
}
.success .product-invoice main table.invoice tr.totals table tr td.num {
  text-align: right;
}
.success .product-invoice main table.invoice tr.totals table tr.total td {
  border-top: 1px solid #53bc1c;
}
.success .product-invoice main table.invoice tr.totals table tr.total td.label {
  font-weight: 700;
  font-size: 16px;
  color: #242424;
}
.success .product-invoice main table.invoice tr.totals table tr.total td.num {
  color: #53bc1c;
  font-weight: 700;
  font-size: 16px;
  padding-right: 10px;
}
.success .product-invoice main table.invoice tr.totals table tr:first-child td {
  border-top: 0px;
}
.success .product-invoice main .additional-info {
  background: #fcfbff;
  border: 1px solid #dee2e6;
  padding: 20px 20px;
}
.success .product-invoice main .additional-info h5 {
  font-size: 16px;
  font-weight: 700;
  color: #242424;
}
.success .product-invoice main .additional-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0px;
}

#lineChart {
  width: 100% !important;
  height: 362px !important;
  }

  #padding-right-11 {
    padding-right: 11px;;
  }

  .lang-area {
    position: relative; }
    .lang-area .remove {
    position: absolute;
    top: 9px;
    right: -10px;
    background: #f00;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 12px;
    color: #fff;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 9;
    }